/*   body   */
$bodyBg: #202024;

/*   quote   */
$quoteText: rgba(255, 255, 255, 0.6);
$quoteBorder: rgba(255, 255, 255, 0.2);

/*  test  */
$testTitle: #F6C866;
$inpBg: linear-gradient(90deg, rgba(228, 228, 228, 0.9) -6.2%, rgba(203, 203, 203, 0.9) 100%);

/*   question-counter   */
$questionCounter: rgba(255, 255, 255, 0.6);

/*   btn variables   */
$btnBgImg: url('../img/btn-gradient.svg');
$btnBgColor: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
$btnBgColor_hover: linear-gradient(90deg, rgba(246, 200, 102, 1) -6.2%, rgba(254, 174, 53, 1) 100%);

