.passage {
  background: url('../img/passage-bg.png');
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .passage__block {
    width: 380px;
    .passage__text {
      font-size: 25px;
      line-height: 35px;
      text-align: center;
      color: #FFFFFF;
    }
  }
}